body {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 5px;
    margin: 5px;
    gap: 10px;
}

.nav {
    display: flex;
    flex: 1;
    background-color: #E5E7EB;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    font-size: 24px;
    padding: 10px;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    padding: 10px;
    gap: 10px;
}

#container .inner {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#container .inner .user {
    display: flex;
    flex: 1;
    color: white;
    background-color: coral;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
}

#container .inner .scoreBoard {
    display: flex;
    flex: 2;
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    width: 500px;
}

#container .inner .scoreBoard .userPoints {
    display: flex;
    flex: 1;
    color: white;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    font-size: 18px;
}

#container .inner .scoreBoard .colon {
    display: flex;
    flex: 1;
    color: white;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    font-size: 18px;
}

#container .inner .scoreBoard .compPoints {
    display: flex;
    flex: 1;
    color: white;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    font-size: 18px;
}

#container .inner .comp {
    display: flex;
    flex: 1;
    color: white;
    background-color: coral;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
}

#container #options {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px;
    gap: 10px;
}

#container #options .userOptions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#container #options .userOptions :hover {
    background-color: orangered;
    border-radius: 10px;
}

#container #options .userOptions .rock .rockButton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 165px;
    width: 165px;
    border-radius: 10px;
}

#container #options .userOptions .rock .rockButton img {
    height: 150px;
    width: 150px;
    border-radius: 10px;
}

#container #options .userOptions .paper .paperButton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 165px;
    width: 165px;
    border-radius: 10px;
}

#container #options .userOptions .paper .paperButton img {
    height: 150px;
    width: 150px;
    border-radius: 10px;
}

#container #options .userOptions .scissor .scissorButton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 165px;
    width: 165px;
    border-radius: 10px;
}

#container #options .userOptions .scissor .scissorButton img {
    height: 150px;
    width: 150px;
    border-radius: 10px;
}

#container .names {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 502px;
}

#container .names .r {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: coral;
    font-family: monospace;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
}

#container .names .p {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: coral;
    font-family: monospace;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
}

#container .names .s {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: coral;
    font-family: monospace;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
}

#container .move {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px;
    font-family: monospace;
    font-size: 18px;
    width: 490px;
}

.footer {
    display: flex;
    background-color: #E5E7EB;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
}

.footer .copyright {
    display: flex;
    font-family: monospace;
    font-size: 24px;
}

.footer .heart {
    display: flex;
    font-size: 22px;
}

.loader {
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 3s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }